<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag 'profile.jpg' %>
    </div>
    <div id="content">
        <h1>He's Mr. Khairul Amin</h1>
        <p>
        Khairul Amin is a professional software developer and was senior developer for DialIO, one of at EngageX platform. Previously he worked at the European Aeronautics Defense and Space agency and was the lead developer of a simulation software. Furthermore, he successfully led the front-end development team for the Disaster Charter Project while working as a contractor for the European Space Agency. He has also contributed to acheiving an award for Optimal Blue in API development.

Since 2000 Khairul has been working on multiple software projects and distributing software applications from inception to market release. On occasion he teaches at a local university.
        </p>
    </div>
</div>